vertices:
  A: [100, 100]
  B: [200, 100]
  C: [300, 100]
  D: [100, 200]
  E: [200, 200]
  F: [300, 200]
  G: [100, 300]
  H: [200, 300]
  Z: [300, 300]
edges:
  A: ['B']
  B: ['C', 'D']
  C: ['E', 'F']
  D: ['E', 'G']
  E: ['Z']
  G: ['H']
  H: ['Z']
